# ОГЛАВЛЕНИЕ

## Введение и операторы
#### 1. Когда могут потребоваться базы данных? 
#### 2. Где хранят данные? + виды баз данных
#### 3. Что такое SQL? ClickHouse?
#### 4. SELECT + FROM
#### 5. AS + DISTINCT
#### 6. WHERE
#### 7. ORDER BY
#### 8. LIMIT
#### 9. MIN + MAX
#### 10. Порядок операторов

## ГРУППИРОВКА И АГРЕГАТНЫЕ ФУНКЦИИ
#### 1. GROUP BY
#### 2. HAVING
#### 3. Агрегатные функции

## ОБЪЕДИНЕНИЕ ТАБЛИЦ – JOIN
#### 1. INNER JOIN
#### 2. LEFT/RIGHT JOIN
#### 3. FULL JOIN
#### 4. Дополнительные типы соединений
#### 5. CROSS JOIN

## ТИПЫ ДАННЫХ И ИХ ПРЕОБРАЗОВАНИЕ
#### 1. Int[8/16/32/64] / UInt[8/16/32/64]
#### 2. Булевы значения
#### 3. Неявное приведение, переполнение
#### 4. Nullable
#### 5. String + replaceAll()
#### 6. Date / DateTime / Interval 
#### 7. Float + DECIMAL
#### 8. Array + groupArray()
#### 9. orNull + coalesce
#### 10. geoDistance

## ПОДЗАПРОСЫ, ПРЕДСТАВЛЕНИЯ, СОЗДАНИЕ ТАБЛИЦ
#### 1. Подзапросы 
#### 2. Представления
#### 3. WITH
#### 4. Команды для работы с таблицами
#### 5. ALTER

## ETL (PYTHON + SQL)
#### 1. Как подключиться к ClickHouse через pandahouse?
#### 2. Примеры
#### 3. Практическое применение с библиотекой prophet

## ГРАФИКИ, ДАШБОРДЫ И МОНИТОРИНГИ
#### 1. Что такое дашборд
#### 2. Ключевые вопросы при создании дашборда
#### 3. Какие решения должен принимать тот, кто читает отчет?
#### 4. Метрики + Примеры готовых метрик
#### 5. Дизайн кастомной метрики
#### 6. Пирамида метрик
#### 7. Redash

## ОКОННЫЕ ФУНКЦИИ
#### 1. Подключаемся к Redash 
#### 2. Что такое оконные функции
#### 3. Синтаксис оконных функций
#### 4. Синтаксис оконных функций (параметры)
#### 5. Синтаксис оконных функций (агрегатные функции)
#### 6. Порядок построения запроса

## РАЗВЕРТЫВАНИЕ АНАЛИТИЧЕСКОГО СТЕКА
#### 1. Создание сервера
#### 2. Подключение к серверу
#### 3. Docker
#### 4. Подключение ClickHouse к Redash
#### 5. Пример создания таблицы
#### 6. Дополнительные материалы




# Урок 1. Введение и операторы.
## Когда могут потребоваться базы данных?
Для каждой компании важно принимать правильные бизнес-решения. Важно принимать их не на основе того, что "так чувствуется", а на основе данных.

В качестве примера возьмем интернет-магазин. В данном случае будут собираться данные:

о визитах на сайт (напр. с помощью Яндекс.Метрики)
данные онлайн платежей (уже другая система)
данные по логистике (и еще одна)
Как же здесь принимать решения? Пока используется всего один источник данных, вполне можно это делать в Excel, или в каких-то других системах аналитики. Но когда источников уже много, нужно как-то корректно совмещать из них данные, причём так, чтобы не было потерь, чтобы вся логика была правильной. С простой системой аналитики это сделать сложно. Тогда и начинаются SQL и базы данных!

## Где хранят данные?
База данных – это упорядоченный набор структурированной информации или данных, которые обычно хранятся в электронном виде в компьютерной системе. База данных обычно управляется системой управления базами данных (СУБД). Задача сохранять данные, логировать и складывать – причина появления СУБД.

Иными словами, в чем разница между базой данных (БД) и системой управления базами данных (СУБД)? База данных – условно, просто "файл", который хранит данные. СУБД – то, что записывает данные, читает, модифицирует, удаляет и т.д., через нее происходит работа с БД.

Данные вместе с СУБД, а также приложения, которые с ними связаны, называются системой баз данных, или, для краткости, просто базой данных.

СУБД могут быть реляционными и NoSQL (not only SQL).

Реляционные базы данных
Элементы в реляционной базе данных организованы в виде набора таблиц со столбцами и строками. Технология реляционных баз данных обеспечивает наиболее эффективный и гибкий способ доступа к структурированной информации.

В реляционной базе данные разделены на таблицы, и одна таблица хранит однородные сущности, а связь между таблицами осуществляется некоторым общим ключом. Именно это свойство и отражено в названии, где слово реляционный происходит от англ. relation (отношения, зависимость).

Пример:
![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/593/1702/7711/image.png)

В целом, есть две версии происхождения названия:

* реляционные – значит, что в базе есть таблицы, между ними есть какие-то связи (relations)
* реляционные – потому что к ним применяется реляционная алгебра (операции, направленные на работу с данными – объединить, пересечь, посчитать разность и т.д.)
Еще одним свойством является поддержка транзакций. Транзакции – операции обработки данных, которые переводят базу из одного состояния в другое. Допустим, есть банковская система, нужно перевести деньги одного пользователя на счет другого, и вы последовательно выполняете операции – вычесть у одного, зачислить другому. 

Транзакции подчиняются аббревиатуре ACID – атомарность, согласованность, изолированность и стойкость. 

* Атомарность – если мы что-то запустили (операции), то они либо все выполняются, либо все не выполняются. 
* Согласованность – зафиксируются только допустимые результаты.
* Изолированность – если транзакции выполняются параллельно, то они не влияют друг на друга.
* Стойкость – если транзакция выполнена, то результат будет точно сохранен вне зависимости от проблем с оборудованием.

## NoSQL

* Ключ-значение – являются по сути словарем, позволяющим извлечь однозначное значение по ключу
* Документо-ориентированные – похожи на ключ-значение, только значения с разметкой (XML, JSON), которая и образует "документ"
* Столбцовые – данные хранятся по столбцам, а не по строкам
* Графовые – вершины, ребра и их свойства

САР теорема (в распределенных системах) – NoSQL БД может обладать двумя свойствами из трех:
* Согласованность (consistency)
* Доступность (availability)
* Устойчивость к разделению (partition tolerance)

## SQL – Structured Query Language

SQL (Structured Query Language, структурированный язык запросов) – это язык программирования, используемый в большинстве реляционных баз данных для запроса, обработки и определения данных, а также контроля доступа. 

SQL является декларативным языком, то есть в нём не задается алгоритм решения задачи, а описывается, что нужно получить в качестве результата. В каком-то смысле SQL похож на обычную человеческую речь. Можно сказать, что это язык для заказа нужных данных и операций над ними. 

Существует множество реализаций SQL, каждая из которых имеет свои особенности, но в общем схожа со стандартом SQL. В данном курсе будет рассмотрена система управления базами данных ClickHouse (и немного PostgreSQL). 

## ClickHouse
ClickHouse – столбцовая система управления базами данных (СУБД) для онлайн обработки аналитических запросов (OLAP) (документация ClickHouse). Главные особенности:

* Столбцовая база данных для аналитического использовния (OLAP)
* Позволяет быстро читать большие данные
* Транзакции отсутствуют
* Данные добавляются, но не изменяются (изменения реализуется через инкремент)
* Оконные функции появились совсем недавно (доверять им пока рано)

## SELECT + FROM
SELECT – используется для указания того, какие из всех возможных столбцов таблицы попадут в результирующую таблицу.

Например, у нас есть таблица sales с именами менеджеров (manager) их идентификаторами (id) и размером дохода (value), который они принесли компании.


| id                  | manager                 | value          |
| :------------------- | -------------------: |:---------------:|
| 231                 | Гриценко                 | 230 000            |
| 275                  | Бердяев                  | 	370 000            |
| 312                   | Курашов                   | 150 000             |
| 324                   | Савченко                | 98 000               |

Чтобы в результат вывести всю таблицу нам понадобится еще один блок – FROM, который указывает из какой таблицы необходимо вывести указанные поля в запросе.

Конструкция запроса такова, что сначала необходимо поставить блок SELECT, далее перечислить все наименования полей, которые нужно вывести в результат, далее конструкция FROM  и после блока FROM – имя таблицы, которая содержит нужные поля и их значения.

Для того, чтобы вывести в результат всю таблицу sales напишем запрос.

**SELECT**

    id, manager, value
**FROM**

    sales
    
Результат запроса:

| id                  | manager                 | value          |
| :------------------- | -------------------: |:---------------:|
| 231                 | Гриценко                 | 230 000            |
| 275                  | Бердяев                  | 	370 000            |
| 312                   | Курашов                   | 150 000             |
| 324                   | Савченко                | 98 000               |

Выбрать все поля можно не только их перечислением в запросе, но и с помощью символа *:

**SELECT ***

**FROM sales**

## AS
При выводе результата вы можете переименовать имя поля. Сделать это можно добавлением алиаса AS перед “новым” именем после каждого элемента блока SELECT. Также алиас AS можно опустить, и указать новое имя поля без него.

**SELECT**

    id,
    
    manager AS names 
    
**FROM** 

    sales

или

**SELECT**

    id,  
    manager names 
    
**FROM** 

   sales
   
| id                  | names                 |
| :------------------- | -------------------: |
| 231                 | Гриценко                 |
| 275                  | Бердяев                  |
| 312                   | Курашов                   |
| 324                   | Савченко                |

## DISTINCT
Иногда запрос может возвращать дублирующие строки в данных. Чтобы вывести уникальные значения поля или полей (т.е. уникальные строки) нужно поставить оператор DISTINCT после блока SELECT :

**SELECT**

    DISTINCT manager 
    
**FROM**

    sales
    
## WHERE
Мы рассмотрели, как выводить полную таблицу со всеми строками и столбцами, но обычно извлекать все строки и столбцы не требуется. Чтобы отфильтровывать строки, которые нам (не) интересны, используют блок WHERE.

Например, нам нужно посмотреть доход менеджера Савченко из таблицы sales – запрос будет выглядеть так:

**SELECT ***

**FROM** sales 

**WHERE** manager = 'Савченко'

Результат запроса:

| id                  | manager                 | value |
| :------------------- | -------------------: | :--------: |
| 324                 | Савченко                 | 98 000 |

Несколько условий можно перечислить через AND или OR:

**SELECT**

    * 
    
**FROM**

    sales 
    
**WHERЕ**

    manager = 'Савченко'
    
    OR id = 275
    
| id                  | manager                 | value          |
| :------------------- | -------------------: |:---------------:|
| 275                  | Бердяев                  | 	370 000            |
| 324                   | Савченко                | 98 000               |



## ORDER BY
В результирующей таблице запрос возвращает данные в произвольном порядке. Если нужно упорядочить вывод запроса определенным образом используйте блок ORDER BY. Чтобы отсортировать по убыванию или по возрастанию, укажите DESC или ASC после наименования поля, по которому требуется сортировка.

DESC – сортировка по убыванию

ASC – по возрастанию 

Если тип сортировки не задан, то по умолчанию будет использована сортировка по возрастанию (ASC).

Отсортируем таблицу sales по убыванию дохода, который менеджеры принесли компании:

**SELECT**

    manager, 
    value 
    
**FROM** 

    sales 
    
**ORDER BY** 

    value DESC
    
Результат запроса:

| id                  | manager                 | value          |
| :------------------- | -------------------: |:---------------:|
| 275                  | Бердяев                  | 	370 000            |
| 231                 | Гриценко                 | 230 000            |
| 312                   | Курашов                   | 150 000             |
| 324                   | Савченко                | 98 000               |

## LIMIT
Теперь давайте представим, что нам нужно получить топ N результатов. Для этого нам потребуется оператор LIMIT. Ему мы передаем либо один параметр N, если нужно извлечь N строк с начала таблицы с данными, либо два параметра – первый устанавливает смещение от первой строки, то есть сколько строк нужно пропустить, а второй указывает на количество извлекаемых строк. 

Давайте выведем топ 3 менеджера по доходу, который они принесли компании. У нас уже есть готовый запрос из предыдущего примера – доработаем его:

**SELECT**

    manager, 
    value 
    
**FROM** 

    sales 
    
**ORDER BY**

    value DESC 
    
**LIMIT 3**

Результат запроса:

| id                  | manager                 | value          |
| :------------------- | -------------------: |:---------------:|
| 231                 | Гриценко                 | 230 000            |
| 275                  | Бердяев                  | 	370 000            |
| 312                   | Курашов                   | 150 000             |

Не забывайте использовать LIMIT, чтобы случайно не вывести огромную табличку и что-нибудь не уронить.

## MIN + MAX
MIN() – показывает минимальное значение

MAX() – показывает максимальное значение

Например, попробуем выбрать наименьшее значение value из следующей таблицы:

| id                  | manager                 | value          |
| :------------------- | -------------------: |:---------------:|
| 231                 | Гриценко                 | 230 000            |
| 275                  | Бердяев                  | 	370 000            |
| 312                   | Курашов                   | 150 000             |
| 324                   | Савченко                | 98 000               |

**SELECT**

    MIN(value) AS min_value
    
**FROM**

    sales
    
Результат:

| min_value  |
|:-----------:|
|98 000       |


## !!Порядок операторов!!
Обычно операторы используются в следующем порядке:

**SELECT** -- перечисление полей для результирующей таблицы

    BuyDate,
    COUNT(*) AS rows
    
**FROM** -- источник данных

    default.checks 
    
**WHERE** -- фильтрация данных

    BuyDate != '2019-03-08'
    
**GROUP BY** -- группировка данных

    BuyDate 
    
**HAVING** -- фильтрация данных, аналогично WHERE, при использовании GROUP BY

    COUNT(*) > 215000
    
**ORDER BY** -- сортировка результирующей таблицы

    rows DESC 
    
**LIMIT 100** -- ограничение на кол-во строк результирующей таблицы 


# Урок 2. Группировка и агрегатные функции.
## GROUP BY

Обычно в базах данных данные хранятся с максимальной детализацией, порой даже излишней. Например: чеки из магазинов, которые поступают почти сразу после совершения покупки. Каждый чек имеет дату и время совершения покупки с точностью до секунд, и таких чеков у вас огромное количество. Но задача – показать продажи определенного товара по месяцам. Что делать в таком случае? Специально для решения таких задач используется блок группировки – GROUP BY. 

GROUP BY – группирует/агрегирует данные по какому-либо полю. В блоке GROUP BY задаются поля, по которым будет сгруппирован результат. Каждый столбец из SELECT должен использоваться либо в группировке, либо внутри агрегатной функции, но не в обоих. 

– нельзя агрегировать ту же колонку, по которой группируете - есть что-то есть в агрегации, то в GROUP BY этих столбцов быть не должно

– если в блоке SELECT у нас есть столбцы под агрегатной функцией, то не вошедшие в агрегацию столбцы должны быть в GROUP BY

## Примеры запросов
1. Пример подсчета числа наблюдений в каждом из источников (Source)

**SELECT**

    Source, -- выводим названия источников
    COUNT(*) AS NumRows -- считаем число строк в каждом из источников
    
**FROM**

    installs 
    
**GROUP BY**

    Source -- группируем по Source
    
**LIMIT 100** -- выводим только 100 строк

2. Пример как работает группировка с суммой

Берем исходную таблицу:

**SELECT *** -- выбрать все поля

**FROM** houses -- из таблицы houses

|country|city|area|street|num_house|
|:------|---:|---:|-----:|--------:|
|Россия |Москва|Центральный|Ул.1|56|
|Россия |Москва|Центральный|Ул.2|73|
|Россия |Самара|Центральный|Ул.3|28|
|Россия |Псков|Центральный|Ул.4|18|
|Россия |Самара|Вокзал|Ул.5|39|
|Россия |Псков|Вокзал|Ул.6|1|
|Россия |Суздаль|Вокзал|Ул.7|99|
|Россия |Владимир|Аэропорт|Ул.8|71|
|Беларусь |Минск|Аэропорт|Ул.9|9|
|Беларусь |Минск|Аэропорт|Ул.10|15|
|Беларусь |Брест|Рынок|Ул.11|44|

Группируемся по стране и считаем, сколько в какой стране домов. Поскольку в таблице поле country (страна) принимает два уникальных значения – Россия и Беларусь, в итоговой таблице будут выведены две строчки. При этом в поле total_houses будет показано общее число домов в каждой из стран.

**SELECT**

    country, -- берем поле со страной
    SUM(num_houses) as total_houses -- для каждой страны суммируем число домов
    
**FROM**

    houses
    
**GROUP BY**

    country -- группируемся по странам
    
 |country|total_houses|
|:------|---:|
|Россия | 385   |
|Беларусь | 114   |

## HAVING
С блоком GROUP BY периодически используют оператор HAVING (аналогичен блоку WHERE).

HAVING – позволяет фильтровать данные при использовании GROUP BY, или применительно к результирующей таблице. Главным отличием от WHERE является то, что WHERE выполняется перед агрегацией (группировкой), а HAVING – после.

Колонку с результатом агрегации можно передавать как используя алиас, так и через запись агрегатной функции. То есть:

**SELECT**

    uid,
    COUNT(*) AS NumRows
    
**FROM**

    users
    
**GROUP BY**

    uid
    
**HAVING**

    COUNT(*) > 10 -- ссылаемся на функцию COUNT(*)


**SELECT**

    uid,
    COUNT(*) AS NumRows
    
**FROM**

    users
    
**GROUP BY**

    uid
    
**HAVING** 

    NumRows > 10 -- ссылаемся на алиас NumRows
    
Также в HAVING можно использовать агрегатные функции, которые не используются в результирующей таблице:

**SELECT**

    uid,
    COUNT(*) AS NumRows
    
**FROM**

    users
    
**GROUP BY**

    uid
    
**HAVING**

    NumRows > 10 -- ссылаемся на алиас NumRows
    AND SUM(clicks) > 100 -- добавляем еще одно условие, при этом не добавляем в SELECT
    
## Агрегатные функции
Агрегатные функции – функции, которые помогают как-либо обобщить данные. 

Агрегатные функции используются в блоке SELECT и в качестве параметра принимают наименования поля (в примере – column). К ним относятся:

* COUNT() – количество значений поля (без параметра считает кол-во строк, с полем – кол-во без NULL значений)
* COUNT(DISTINCT column) – количество уникальных значений поля (uniqExact() и count(DISTINCT) – одно и тоже)
* AVG(column) – вычисляет среднее
* MIN(column) – показывает минимальное значение
* MAX(column) – показывает максимальное значение
* SUM(column) – показывает сумму элементов

Такие функции вычисляют заказанное значение на уровне группировки, заданном в секции GROUP BY.

Примеры работы
1. Посчитать число уникальных DeviceID с группировкой по источнику (Source):

**SELECT*

    Source, -- выводим источник
    uniqExact(DeviceID) AS installs -- для каждого источника считаем число уникальных DeviceID
    
**FROM**

    installs 
    
**GROUP BY**

    Source -- группируем по источнику 
    
**LIMIT 100**


| Source    | installs |
:---------- |---------:|
| Source_1  | 20       |
| Source_19 | 3148     |
| Source_10 | 4        |
| Source_2  | 1393     |
| Source_20 | 9        |



2. Подсчет количества уникальных значений поля DeviceID двумя способами:

**SELECT**

    uniqExact(DeviceID) AS devices_one, 
    COUNT(DISTINCT DeviceID) AS devices_two
    
**FROM** 

    devices




| devices_one | devices_two |
:-------------|-------------|
| 9406636     | 9406636     |

Больше агрегатных функций в ClickHouse: [Здесь](https://clickhouse.tech/docs/ru/sql-reference/aggregate-functions/reference/)


# Урок 3. Объединение таблиц - JOIN.

## INNER JOIN

INNER JOIN – возвращаются только совпадающие строки. Без указания типа JOIN используется INNER. 

Пример запроса:

**SELECT**

    A.id as id,
    A.city as city,
    B.country as country
    
**FROM**

    table_A as A
    
**JOIN**

    table_B as B
    
**ON**

    A.id = B.id
    
![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7760/image.png)

В виде диаграммы:

![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7760/image_HWQTU04.png)

## LEFT/RIGHT JOIN
**LEFT OUTER JOIN** – возвращаются строки из левой таблицы и соответствующие строки из правой. Как можно заметить, ключевое слово OUTER можно опускать и использовать запись LEFT JOIN.

**SELECT**

    A.id as id,
    A.city as city,
    B.country as country
    
**FROM**

    table_A as A
    
**LEFT JOIN**

    table_B as B
    
**ON**

    A.id = B.id
    
![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7761/image.png)
![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7761/image_R7s8tjD.png)

**RIGHT OUTER JOIN** – возвращаются строки из правой таблицы и соответствующие строки из левой.

**SELECT**

    A.id as id,
    A.city as city,
    B.country as country
    
**FROM**

    table_A as A
    
**RIGHT JOIN**

    table_B as B
    
**ON**

    A.id = B.id
    
![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7761/image_UY2KopR.png)
![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7761/image_ZTcXEJS.png)

## FULL JOIN
**FULL JOIN** – возвращаются все строки из обеих таблиц.

**SELECT**

    A.id as id,
    A.city as city,
    B.country as country
    
**FROM**

    table_A as A
    
**FULL JOIN**

    table_B as B
    
**ON**

    A.id = B.id
    
![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7762/image.png)
![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7762/image_pwAuEcs.png)

## Дополнительные типы соединений
В ClickHouse также присутствуют несколько других видов объединений.

1. LEFT SEMI JOIN 
2. RIGHT SEMI JOIN
3. LEFT ANTI JOIN 
4. RIGHT ANTI JOIN

### LEFT/RIGHT SEMI JOIN
1. LEFT SEMI JOIN – возвращает данные только из левой таблички, которые имеют соответствие с правой табличкой. В отличие от LEFT JOIN, колонки из правой таблицы добавлены не будут. 

2. RIGHT SEMI JOIN – аналогично, возвращает данные только из правой таблички, которые имеют соответствие с левой табличкой. Дополнительные столбцы из левой таблицы добавлены не будут. 

Пример: 

![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7763/image.png)

### LEFT/RIGHT ANTI JOIN
3. LEFT ANTI JOIN – возвращает строки левой таблицы, для которых не нашлось соответствие в правой таблице.

4. RIGHT ANTI JOIN – возвращает строки правой таблицы, для которых не нашлось соответствие в левой таблице.

Пример:

![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7763/image_YzKTCAQ.png)

## CROSS JOIN
**CROSS JOIN** – перекрёстное соединение. С помощью данного объединения мы получаем возможные комбинации значений из первой и второй таблицы. Например:

**SELECT**

    *
    
**FROM** 

    A
    
**CROSS JOIN**

    B

Обратите внимание, при использовании CROSS JOIN ключи соединения указывать не нужно.

![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/595/1710/7764/image.png)

# Урок 4. Типы данных и их преобразование.
## Int[8/16/32/64] / UInt[8/16/32/64]

Типы данных Int и UInt предназначены для хранения целых чисел фиксированной длины. [8/16/32/64] обозначают разрядность, чем она больше, тем больший диапазон значений может хранить.

Главное отличие между Int и Unit заключается в том, что первый может хранить как положительные, так и отрицательные значения. 

### Диапазоны Int:

Int8 – [ -128 : 127 ]

Int16 – [ -32768 : 32767 ]

Int32 – [ -2147483648 : 2147483647 ]

Int64 – [ -9223372036854775808 : 9223372036854775807 ]

**SELECT**

    CAST(-127 AS Int8) AS test,
    toTypeName(CAST(-127 AS Int8)) AS test_name


| test | test_name |
:------|-----------:
| -127 |      Int8 |


### Диапазоны UInt:

UInt8 – [ 0 : 255 ]

UInt16 – [ 0 : 65535 ]

UInt32 – [ 0 : 4294967295 ]

UInt64 – [ 0 : 18446744073709551615 ]

**SELECT**

    CAST(127 AS UInt8) AS test,
    toTypeName(CAST(127 AS UInt8)) AS test_name
    
| test | test_name |
:------|-----------:
| 127 |      UInt8 |


## Булевы значения
Хранение булевых значений в ClickHouse реализовано через UInt8, отдельный тип данных для них не выделен. Сами значения такого формата принимают значение либо 1, либо 0.

**SELECT**

    3 = 3, -- сравниваем значения
    toTypeName(3=3) -- проверяем тип данных с помощью toTypeName()
    

| equals(3, 3) | toTypeName(equals(3, 3)) |
|--------------|--------------------------|
|            1 |                    UInt8 |


Аналогичный пример, когда мы ожидаем получить False (0): 

**SELECT**

    3 = 4,
    toTypeName(3=4)

| equals(3, 4) | toTypeName(equals(3, 4)) |
|--------------|--------------------------|
|            0 |                    UInt8 |


## Переполнение типов
Что же произойдет, если наши данные хранились с типом Int8, но максимальное значение увеличилось на единичку и превысило 127?

**SELECT**

    CAST(127 AS Int8) + 1 AS test,
    toTypeName(CAST(127 AS Int8) + 1) AS test_name

Тип данных автоматически увеличит битность (с 8 на 16):


| test | test_name |
|------|-----------|
|  128 |     Int16 |

А если мы возьмем максимальное значение для Int64?

**SELECT**

    CAST(9223372036854775807 AS Int64) + 1 AS test,
    toTypeName(CAST(9223372036854775807 AS Int64) + 1) AS test_name

Откуда взялся минус? SQL попытался прибавить единичку, но вышел за границу, и, в некотором смысле пройдя по кругу, вернулся к начальной границе типа.


|                 test | test_name |
|----------------------|-----------|
| -9223372036854775808 |     Int64 |

Более наглядный пример: предположим у нас есть свой тип данных, принимающий всего 6 значений от -2 до 3. Когда мы прибавим к 3 единицу, тип переполнится, и значение станет -2. Если сделаем 3+2, то будет -1, и т.д.

![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/596/1714/7792/image.png)

## Nullable(TypeName)
**Nullable(TypeName)** – позволяет вместе хранить значения как определенного типа (где TypeName – название нужного типа), так и NULL.

## String
**String** – тип данных для хранения строк произвольной длины. 

Иногда цифры или даты тоже могут быть записаны как текст. В таком случае можно привести значения к подходящему типу следующим образом:

**SELECT**

    -- число 22 записано как строка, поэтому приводим к Int8 -> можем произвести операцию сложения
    CAST('22' AS Int8) + 17 AS sum_test  
    

| sum_test |
|----------|
|       39 |

## replaceAll()
Представим ситуацию, когда сумма покупок записана в формате строки и со значком доллара. Для того, чтобы получить возможность применять агрегатные функции, нужно избавиться от лишнего, используя replaceAll():

**SELECT**

    -- оборачиваем значение в replaceAll(), затем приводим к Float64
    CAST(replaceAll('22.3$', '$', '') AS Float64) AS num_test

| num_test |
|----------|
|     22.3 |

## Date / DateTime / Interval 
**Date** – используется для хранения даты

2019-01-01

**DateTime** – тип данных для хранения даты и времени 

2019-01-01 00:00:00

**Interval** – тип данных для интервалов дат и времени 

**SELECT**

    INTERVAL 4 DAY as test,
    toTypeName(INTERVAL 4 DAY) as test_type


| test |   test_type |
|------|-------------|
|    4 | IntervalDay |

## Float[32/64] 
**Float** – числа с плавающей запятой. Их использование в ClickHouse не рекомендовано, т.к. можно столкнуться с ошибками округления. В некоторых случаях точность подсчетов может быть критична, например, при работе с большими денежными показателями.

## DECIMAL(P, S)
**DECIMAL** – тип данных, который используется для хранения дробных чисел и позволяет избежать проблем, которые возникают при использовании Float.

Параметры:

* P (precision, 1:76) – определяет, сколько десятичных знаков может содержать число, включая дробную часть
* S (scale, 0:P) – определяет, сколько десятичных знаков содержится в дробной части числа

## Array
**Array** – массив. 

**SELECT**

    array('one', 'two', 'three') AS test_array, 
    toTypeName(test_array),
    test_array[1] AS first_element  -- индексация начинается с 1, доступ к элементу через квадратные скобки 


|    test_array | toTypeName(array(1, 2, 3)) | first_element |
|---------------|----------------------------|---------------|
| one,two,three |              Array(String) |           one |

## groupArray()
**groupArray** – еще одна агрегатная функция. 

Например: для каждого пользователя считаем сумму покупок (sum_rub), а в dates записываем массив из дат (dates), когда он совершал покупки

**SELECT**

    UserID,
    groupArray(BuyDate) AS dates,
    SUM(Rub) AS sum_rub
    
**FROM**

    checks
    
**GROUP BY**

    UserID
    
**ORDER BY**

    sum_rub DESC
    
**LIMIT 1**


|               UserID |                                     dates | sum_rub |
|----------------------|-------------------------------------------|---------|
| 15605251414578190336 |['2019-06-08', '2019-06-04', '2019-06-03'] |  181146 |

## orNull
Для обработки случаев, когда в данных могут встретиться NULL, используется дополнение orNull:

**SELECT**

    toInt64OrNull('123'),  -- к обычному toInt64 добавляется OrNull
    toInt8OrNull('123$')


| toInt64OrNull('123') | toInt8OrNull('123$') |
|----------------------|----------------------|
|                  123 |                 NULL |

## coalesce
**coalesce** – слева-направо проверяет являются ли переданные аргументы NULL и возвращает первое не NULL значение

**SELECT**

    coalesce(toInt32OrNull('$435'), null, null, 33, null, 77) as first_non_null


| first_non_null |
|----------------|
|             33 |

## geoDistance
**geoDistance** – функция для работы с координатами, рассчитывающая расстояние между двумя точками в метрах.

Параметры:

* lon1Deg — долгота первой точки в градусах
* lat1Deg — широта первой точки в градусах
* lon2Deg — долгота второй точки в градусах
* lat2Deg — широта второй точки в градусах
Все значения долготы должны быть в диапазоне [-180°, 180°], широты – [-90°, 90°].

Пример:

**SELECT**

    -- lon1Deg, lat1Deg, lon2Deg, lat2Deg
    geoDistance(0.1278, 51.5074, 30.3609, 59.9311) AS dist_m,
    dist_m / 1000 AS dist_km


|    dist_m |     dist_km |
|-----------|-------------|
| 2087583.4 | 2087.583375 |


# Урок 5. Подзапросы, представления, создание таблиц.
## Подзапросы
Встречаются ситуации, когда результат одного запроса нужно использовать как входную таблицу для другого запроса. Например:

посчитали среднее время от установки до совершение первой покупки для каждого пользователя ← один запрос
далее хотим усреднить ← второй запрос

**SELECT** 

    InstallationDate,
    Source,
    InstallCost / 100 AS cost_fix  -- разделим цену на 100
    
**FROM**

    installs
    
**LIMIT 100**

Теперь используем этот запрос как входную таблицу для другого запроса. Оборачиваем запрос в скобки и записываем его в FROM нового запроса. Считаем сумму для каждого источника по месяцам:

**SELECT**

    Month,
    Source,
    SUM(cost_fix) AS sum_cost_fix
    
**FROM**

    (SELECT 
        InstallationDate,
        Source,
        InstallCost / 100 AS cost_fix
	FROM
        installs
    )
    
**GROUP BY**

    toStartOfMonth(CAST(InstallationDate as Date)) AS Month,
    Source
    
**LIMIT 100**

Самих уровней вложенности может быть сколько угодно. Например, добавим ещё один, где уберем из даты -01:

**SELECT**

    replaceOne(CAST(Month as String), '-01', '') AS Month_fix,
    Source,
    sum_cost_fix
    
**FROM**

    (
    SELECT 
        Month,
        Source,
        SUM(cost_fix) AS sum_cost_fix        
    FROM    
        (SELECT 
            InstallationDate,
            Source,
            InstallCost / 100 AS cost_fix
         FROM
            installs
        )        
    GROUP BY    
        toStartOfMonth(CAST(InstallationDate as Date)) AS Month,
        Source
    )
    
**LIMIT 100**

В запросах с JOIN тоже можно использовать подзапросы:

**SELECT**

    DeviceID,
    UserID,
    Source,
    InstallCost
    
**FROM** (

    SELECT 
        DeviceID,
        UserID
    FROM devices
    ) AS l
    
**JOIN** (

    SELECT 
        Source, 
        InstallCost, 
        DeviceID
    FROM installs
    ) AS r
    
**ON** 

    l.DeviceID = r.DeviceID
    
**LIMIT 100**

## Представления
Представления бывают двух видов:

1. Обычные
2. Материализованные

## Обычные представления 
**Обычные представления** – сохранение SQL запроса. Т.е. вы создаете виртуальную таблицу, при вызове которой будет выполняться запрос для её создания. Такие представления на самом деле не содержат данных, а извлекают их из таблицы в момент обращения.

Предположим, что мы очень часто вызываем установки только по iOS. Чтобы каждый раз не писать

**SELECT *** **FROM** installs **WHERE** Platform = 'iOS'

мы можем создать представление:


**CREATE VIEW** ios_installs AS (

SELECT 

    * 
    
FROM 

    installs 
    
WHERE 

    Platform = 'iOS'
    
)

В результате ClickHouse напишет OK – значит, он создал представление. После этого нужно "обновить структуру" (список таблиц), и тогда в списке таблиц появится новая – ios_installs. Далее представление можно использовать в обычном запросе:

**SELECT ***

**FROM** ios_installs

**LIMIT 100**

По сути мы сохранили запрос как таблицу: он будет отображаться в списке таблиц как таблица, но на самом деле таблицей не является. Каждый раз, когда вызываем VIEW, код запроса выполняется.

Может быть удобно, если вы написали очень большой запрос и планируете часто его переиспользовать.

[Документация](https://clickhouse.tech/docs/ru/sql-reference/statements/create/#create-view)

## Материализованные представления
Создаются командой CREATE MATERIALIZED VIEW. Также нужно указать движок таблицы, о них поговорим немного позже!

**CREATE MATERIALIZED VIEW** android_installs ENGINE = Log POPULATE AS (

SELECT 

    * 
    
FROM 

    installs 
    
WHERE 

    Platform = 'android'
    
)

**В чем отличие материализованного представления от обычного?** Материализованное хранит данные на диске, т.е. больше похожа на таблицу. Когда мы вызываем обычное представление, выполняется запрос, а когда материализованное – данные поднимаются с диска.

**SELECT ***

**FROM** android_installs

**LIMIT 100**

Данные в материализованных представлениях обновляются тогда, когда обновляются те таблицы, по которым они считаются. В данном случае, как только запишутся новые строки в installs, материализованное представление обновится и допишет их к себе.

# WITH
**WITH** – используется для объявления различных параметров. В ClickHouse можно использовать только скалярные выражения, т.е. результат подзапроса должен быть одной строкой.

Допустим мы знаем среднюю цену установки:

**SELECT**

    AVG(InstallCost)
    
**FROM** installs

-- 69.827832 -- полученное _одно_ значение

**Создаем приближение:**

-- объявляем параметры

**WITH** 

     -- сохраняем _одно_ число в avg_install_cost
    (SELECT AVG(InstallCost) FROM installs) AS avg_install_cost,
    -- сохраняем _одно_ число в rub_cent
     sum_rub * 100 AS rub_cent 

-- используем

**SELECT**

    UserID,
    sum_rub - avg_install_cost AS economy,
    rub_cent
    
**FROM** (
    SELECT
        UserID,
        SUM(Rub) AS sum_rub
    FROM
        checks
    GROUP BY
        UserID
    )
    
**LIMIT 100**

## Команды для работы с таблицами
## CREATE TABLE
**CREATE TABLE** – создать таблицу (обязательно указать движок).

**CREATE TABLE** geobase ENGINE = Log AS (

SELECT

	'Moscow' AS City,
    
	'Russia' AS Country
    
)

**SELECT ***

**FROM** geobase


|   City | Country |
|--------|---------|
| Moscow |  Russia |

Еще один пример:

-- если таблица еще не создана (IF NOT EXISTS), создать таблицу table_name в базе database_name

**CREATE TABLE IF NOT EXISTS** database_name.table_name (

    column_1 UInt32, -- колонка, тип данных
    column_2 UInt32,
    column_3 DateTime('Europe/Moscow'),
    column_4 String
    ) 

ENGINE = MergeTree -- движок

**ORDER BY** (column_1, column_2) 

## DROP TABLE
**DROP TABLE** – удалить таблицу.

**DROP TABLE** android_installs

## INSERT INTO
**INSERT INTO** – запись данных в таблицу. Названия полей и типы данных должны совпадать с исходной таблицей.

-- скопируем таблицу с чеками для примера, чтобы не сломать исходную 

**CREATE TABLE** checks_copy ENGINE = Log AS (

    SELECT *
    FROM checks
)

**INSERT INTO** checks_copy 

    -- немного меняем данные, умножив рубли, добавив 100 дней к дате
    SELECT 
        Rub * 0.87 AS Rub,
        CAST((CAST(BuyDate AS Date) + 100) AS String) AS BuyDate, -- возвр. к изначальному типу данных String
        UserID * 0.99
    FROM checks
    
Проверим, добавились ли данные, должно быть в два раза больше:

**SELECT COUNT(*)** AS rows FROM checks -- 56 088 728

**SELECT COUNT(*)** AS rows FROM checks_copy -- 112 177 456, все верно!

##ALTER
**ALTER** – команда для изменения данных. Для начала, копируем таблицу, чтобы не трогать исходные данные:

**CREATE TABLE** listings_copy ENGINE = MergeTree

**ORDER BY** (id, host_id) SETTINGS index_granularity = 8192 AS (

SELECT *

FROM listings

)

## ADD COLUMN
**ADD COLUMN** – добавить колонку. Например, add_column_test с типом String, вставить после reviews_per_month

**ALTER TABLE** listings_copy

    ADD COLUMN add_column_test String AFTER reviews_per_month

## MODIFY COLUMN 
**MODIFY COLUMN** — изменяет тип столбца

**ALTER TABLE** listings_copy 

    MODIFY COLUMN host_id UInt64

## DROP COLUMN
**DROP COLUMN** – удалить колонку

**ALTER TABLE** listings_copy 

    DROP COLUMN add_column_test 

## DELETE WHERE
**DELETE WHERE** – удалить строки для которых выполняется указанное условие. Например, все строки, где тип комнаты – 'Private room'.

**ALTER TABLE** listings_copy

    DELETE WHERE room_type='Private room'

## UPDATE WHERE
**UPDATE WHERE** –  обновить строки для которых выполняется указанное условие. Например, удвоить значения InstallCost для платформы iOS.

**ALTER TABLE** test.installs_mt 

    UPDATE InstallCost = InstallCost * 2 WHERE Platform = 'iOS'
    
# Урок 6. ETL (PYTHON + SQL).

## Как подключиться к ClickHouse через pandahouse?
1. Импортируем библиотеку:

**#pip install pandahouse  # если библиотека ещё не установлена**

**import pandahouse as ph**

2. Далее создаем словарь connection с нужными параметрами:

для подключения к default:

connection_default = {'host': 'http://clickhouse.beslan.pro:8080',

                      'database':'default',
                      
                      'user':'student',
                      
                      'password':'dpo_python_2020'
                      
                   }

для подключения к test, где есть права на создание табличек и их модификацию:

connection_test = dict(database='test',

                  host='http://clickhouse.beslan.pro:8080',
                  
                  user='student-rw',
                  
                  password='656e2b0c9c')

3. Готово! Теперь можно смело (но аккуратно) отправлять запросы через Jupyter.

## Примеры
1. Пример: выводим первые 10 UserID, записываем в датафрейм q_test

#создаем запрос, db автоматически заменится на значение из database

q = " " "

    SELECT 
    
        UserID 
        
    FROM 
    
        {db}.checks 
        
    LIMIT 10
    
    " " "

#отправляем запрос и записываем результат в пандасовский датафрейм
q_test = ph.read_clickhouse(query=q, connection=connection_default)

q_test

![Текст с описанием картинки](https://ucarecdn.com/0ea4dcf8-3e01-48a0-a28f-f7119a2c847e/)

2. Пример: создаем таблицу с помощью CREATE TABLE

q = """

**CREATE TABLE** test.example_table (

    id UInt32,
    supplementary_id UInt32,
    comments String 
    
) 

ENGINE = MergeTree 

**ORDER BY** (id, supplementary_id)

   """

ph.execute(query=q, connection=connection_test)

3. Пример записи данных в ClickHouse в уже созданную таблицу medium:

#записываем данные из pandas в clickhouse

ph.to_clickhouse(df, 'medium', index=False, connection=connection_test)

#проверяем, что записалось

query_test = """

**SELECT ***

**FROM** test.medium

**LIMIT** 100

"""

df_new = ph.read_clickhouse(query_test, connection=connection_test)
df_new

![Текст с описанием картинки](https://ucarecdn.com/b806bf81-4e4e-4a36-a581-a6ad3fe3bb4f/)

# Prophet
**Prophet** – библиотека для прогнозирования временных рядов. О ней также можно послушать [в этом вебинаре](https://www.youtube.com/watch?v=JQXCHE0H46U)!

* [prophet.ipynb](https://disk.yandex.ru/d/REK1VUkyrSfOCw) – Jupyter notebook с кейсом, разобранным на лекции

* [статья](https://habr.com/ru/company/ods/blog/323730/) с более подробным описанием

# Урок 7. Графики, дашборды и мониторинги.

## Дашборд
**Дашборд (информационная панель)** – визуальное представление наиболее важной информации, сгруппированной по смыслу на одном экране так, чтобы ее можно было легко понять. 

Дашборд отличается от отчета тем, что отчет обычно предоставляется в табличной форме, а дашборд включает в себя визуализации. 

Пример дашборда:
![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/599/1727/7860/image.png)

Пример отчета:

![Текст с описанием картинки](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/599/1727/7860/image_dYBfZCE.png)

## Ключевые вопросы
Ключевые вопросы, которые стоит себе задать при проектировании дашборда:

* Кто будет читать/смотреть?
* Какое решение он должен принять?
* На какие вопросы нужно ответить для принятия этого решения?

Рассмотрим каждый пункт подробнее.

## Кто будет читать?
Дашборды можно условно разделить на три типа:

* **Стратегические** 
* **Аналитические**  
* **Оперативные** – показываем много данных, они включают много срезов, при этом читатель понимает, что всё это значит. 

Они отличаются масштабом принятия решений и объемом информации. Чем больше масштаб принятия решений, тем меньше данных нужно видеть. 

![](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/599/1727/7861/image.png)

Примеры: 

1. Оперативный – в форме таблицы, много подробностей
2. Аналитический  – графики, несколько срезов, с вкладками
3. Стратегический – условно говоря, "взгляд сверху"

![](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/599/1727/7861/image_Eq0WWQm.png)

## Какие решения должен принимать тот, кто читает отчет?
Для проектирования дашборда нужно определить необходимые данные и срезы, которые будут показаны:

* Какая у читателя зона ответственности?
* Что его интересует?
* Что является красной зоной?
* На что надо ставить акцент?
* Что ему **не** интересно?

## Что может помочь?
Определяем какие соотношения в данных нам надо показать. Выбираем метрики и визуализации:

* Сравнение с предыдущим периодом?
* Факт относительно плана?
* Топ неэффективных каналов?
* Дни недели в которые колл центр не справляется с обработкой заказов?

## Метрики
Как правило, на дашбордах отображаются метрики. **Метрика** – это измерение, т.е. некоторая производная из логируемых действий – отражение реальности. Например, есть:

* Количество показов объявления (логируется)
* Количество кликов на объявление (логируется)

Из этих показателей получается метрика **CTR** = клики/показы, которая показывает, как хорошо кликают на объявление (классное ли оно).

## Готовые метрики 
Можно отслеживать готовые метрики, которых очень много:

* Стоимость привлечения
* Конверсия
* Возвращаемость (retention)
* MAU – monthly active users 
* CPA – cost per action
* LTV – lifetime value
А можно создавать кастомные метрики, когда готовые метрики не подходят.

## Дизайн кастомной метрики
**Как же создать метрику?**

* Сформулировать вопрос, на который отвечает метрика.
* Понять, какие имеются данные для подсчёта метрики.
* Варианты подсчёта – что на что делить/умножать.
* Поиск сильных и слабых мест: 
      - когда метрика обманет

      - к каким ситуациям (выбросам) будет устойчива

* Валидация с бизнесом (спросить, подходит ли она им)
* Имя новой метрики - самое важное :)

## Пример – дизайн кастомной метрики:
Предположим, в приложении есть саджест (suggest, подсказки при вводе в поиске). К вам приходит менеджер и просит оценить эффективность работы данных подсказок.

**Какие данные имеются:**

* Показ саджеста
* Клики на саджест с позицией
* Исправления запроса после саджеста (нажал, а потом вернулся в поле ввода и что-то исправил)

**Задача:** создать метрику, понять, что будем отображать, а также плюсы и минусы.

**Вариант ответа:** измерить среднюю позицию клика. Мы видим, на какое место в саджесте кликают, и чем ближе клик к 1, тем лучше. Т.е. если средняя позиция клика – 5, то значит, что пользователи нажимают примерно на 5 вариант, и, возможно, релевантные варианты показываются ниже, чем нужно. 

## Пирамида метрик

* Главное – наверху, и его мало
* Рычаги влияния – внизу, и их множество
* Связь верха и низа – механизм управления целями

![](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/599/1727/7865/image.png)

## Redash
##Как зайти в Redash?

Переходим на https://redash.lab.karpov.courses/
Заполняем поля:
Логин: ваш email
Пароль: пароль от личного кабинета

## Создаем запрос и график:
1. Create  → New Query: пишем запрос.

2. Add visualization

    – заходим в раздел для построения графика

    – даём имя 

    – выбираем тип графика

    – заполняем оси, по необходимости добавляем группировку

    – сохраняем

При выполнении заданий в названии желательно указывать свое имя или фамилию, чтобы не перепутать графики с чужими.

3. Как только вы достроили графики, отредактируйте название запроса в левом верхнем углу. Далее нажмите кнопку **Publish**. После этого вы сможете использовать полученный график в дашборде.

## Строим дашборд:
* Create  → New Dashboard
* Даём ему имя. Желательно использовать в названии свое имя или фамилию, чтобы потом не перепутать с чужим дашбордом
* → Add Widget → выбираем нужный запрос, по которому был построен график
* Если нужно добавить ещё график, то снова нажимаем Add Widget 
* Если данные периодически обновляются, то можно установить обновление по расписанию с помощью кнопки Refresh schedule. Тогда график будет пересчитываться по расписанию.
Более подробная инструкция по тому, как создавать запросы, графики и дашборды в Redash [здесь](https://www.notion.so/ClickHouse-a374edd6c3b149f39022ba426c45e207) 

# Урок 8. Оконные функции.
## Подключаемся
В ClickHouse нет оконных функций, поэтому нужно подключиться к Postgres:

Redash → New Query → HSE Professor

![](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/600/1731/7882/image.png)

## Как зайти в Redash?

Переходим на https://redash.lab.karpov.courses/

Заполняем поля

Логин: ваш email

Пароль: пароль от личного кабинета

## Что такое оконные функции
Сейчас мы узнаем, как можно получить значения соседних ячеек, не меняя при этом группировку строк! Это может пригодиться на практике — например, когда вам нужно в одной строке учитывать значения из соседних строк.

Допустим, вы каждый день считаете, сколько вы заработали денег за сегодня. А ещë вы хотите знать накопленную сумму заработанных денег от начала года до текущей даты. И, в дополнение к этому, вы разбиваете данные по городам, и хотите видеть сумму за день и накопленную сумму по каждому городу отдельно.

![](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/600/1731/7883/image.png)

Именно в таком случае вам на помощь приходят оконные функции! Концептуально, оконные функции можно описать как:

1. некоторый выход на N строк вперед и/или назад с текущей строки
2. сбор данных с этих строк
3. операции над собранными данными
4. запись в исходную строку
5. повтор на следующей строке

Именно эта концепция и отражена в названии – с каждой строки создается некоторое окно, и по этому окну происходит подсчет.

## Синтаксис оконных функций
Оконные функции можно вызывать непосредственно в блоке SELECT, используя запрос вида:

**SELECT**

    city,
    date,
    revenue,
    SUM(revenue) OVER w AS revenue_sum
    
**FROM** 

    data
    
**WINDOW** w **AS**

    (
    PARTITION BY city
    ORDER BY date ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    )
    
**ORDER BY**

    city ASC,
    date ASC

Результат выполнения запроса:

![](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/600/1731/7884/image.png)

В данном запросе мы объявили окно с помощью функции **OVER** в блоке **FROM**, передав в нее следующие параметры:

* **PARTITION BY** city – означает, что мы хотим работать с городами как с отдельными разделами, то есть сделать разбивку по городу;
* **ORDER BY** date ASC – когда мы создали окно для каждого города, мы хотим отсортировать строчки в таком окне по возрастанию даты;
* **ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW** – означает, что мы хотим, чтобы для каждой строки внутри города в окно попадала таблица от начала окна до текущей строки. Иными словами, для первой строки это будет только одна строка, для второй это будет первая и вторая, для третьей это будет первая + вторая + третья, и так далее. Порядок строк задается выше параметром **ORDER BY**.

Далее, с помощью этого окна, для каждого города и для каждой строчки мы имеем диапазон дат от начала периода до текущей даты, и по этому окну мы делаем сумму. Таким образом, на каждый день для каждого города у нас получается накопительная сумма.

Выше мы описывали окно в блоке **FROM**, и потом вызывали его в блоке **SELECT**. Существует возможность вызова окна сразу в блоке **SELECT**, без его именования:

**SELECT**

    id,
    section,
    header,
    score,
    row_number() OVER ()  AS num -- создаем колонку с номером строки
    
**FROM** news;


| id | section |  header   | score | num |
|----|---------|-----------|-------|-----|
|  1 |       2 | Заголовок |    23 |   1 |
|  2 |       1 | Заголовок |     6 |   2 | 
|  3 |       4 | Заголовок |    79 |   3 |
|  4 |       3 | Заголовок |    36 |   4 |
|  5 |       2 | Заголовок |    34 |   5 |
|  6 |       2 | Заголовок |    95 |   6 |
|  7 |       4 | Заголовок |    26 |   7 |
|  8 |       3 | Заголовок |    36 |   8 |

## Синтаксис оконных функций (продолжение)
При создании окна ему можно передать следующие параметры:

* **PARTITION BY** [city]
* **ORDER BY** [date ASC]
* **ROWS [BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW]**

– **UNBOUNDED PRECEDING** – указывает, что окно начинается с первой строки секции

– **UNBOUNDED FOLLOWING**– указывает, что окно заканчивается на последней строке секции

Давайте рассмотрим эти параметры подробнее!

## PARTITION BY
Группирует строки запроса в разделы, которые потом обрабатываются оконной функцией независимо друг от друга. Работает аналогично блоку **GROUP BY** в запросе, только группирует данные для окна.

## ORDER BY
Сортирует результаты внутри раздела, тем самым определяя порядок, в котором оконная функция будет работать со строками. Работает аналогично блоку **ORDER BY** на уровне запроса.

## ROWS/RANGE
Задает параметры рамки окна. Рамки используются в тех оконных функциях, которые работают с рамками, а не с разделом целиком. Первым аргументом задается начало рамки, вторым аргументом конец рамки, и дополнительно, третьим аргументом задается исключение из рамки.

Рамку можно задать в нескольких режимах, а именно:

* **ROWS** – Начало и конец рамки задаются в строках относительно текущей строки. Например **ROWS BETWEEN 3 PRECEDING AND 3 FOLLOWING** означает создание рамки на 3 строки вверх и вниз относительно текущей строки.
* **RANGE** – Начало и конец рамки задаются в разнице значений столбца из ORDER BY. Например, если в ORDER BY находится столбец event_date с типом данных date, то определение окна можно задать следующим образом **RANGE BETWEEN '3 day' PRECEDING AND '3 days' FOLLOWING** что будет означать рамку на 3 дня назад и вперед.

При указании рамки через **RANGE** обязательным условием является только один столбец в **ORDER BY** окна.

## Синтаксис оконных функций (продолжение 2)
Любые агрегатные функции можно использовать с помощью окна. Это необходимо делать явно с указанием **OVER** и имени окна. Например **AVG(revenue) OVER w AS avg_revenue**

Помимо обычных агрегатных функций, существуют специальные функции для работы через окно.

* **row_number()** – номер текущей строки в разделе, начинается 1
* **lag(my_field, 1)** – получить значение столбца my_field из предыдущей строки
* **lead(my_field, 1)** – получить значение столбца my_field из следующей строки

![](https://storage.yandexcloud.net/klms-public/production/learning-content/11/77/600/1731/7886/image.png)

## Порядок построения запроса

**SELECT** 

    [column_1], 
    [column_2],
    [window_function]() OVER [window_name]
    
**FROM**

    [table_name]
    
**WHERE** 

    [...]
    
**GROUP BY**

    [...]
    
**HAVING**

    [...]
    
**WINDOW** [window_name] **AS** (

    PARTITION BY [...]
    ORDER BY [...]
    [window_frame])
    
**ORDER BY**

    [...]
    
**LIMIT** [ ]

Несколько примеров:

**SELECT**

    country, 
    city,
    rank() OVER country_sold_avg
    
**FROM** 

    sales
    
**WHERE**

    month BETWEEN 1 AND 6
    
**GROUP BY** 

    country, 
    city
    
**HAVING** 

    sum(sold) > 10000
    
**WINDOW** 

    country_sold_avg AS (
        PARTITION BY country
        ORDER BY avg(sold) DESC
    )
    
**ORDER BY** 

    country, 
    city
    
**SELECT**

    city, 
    month,
    sum(sold) OVER (
        PARTITION BY city
        ORDER BY month
        RANGE UNBOUNDED PRECEDING ) total
        
**FROM** 
    sales
    
# Урок 9. Развертывание аналитического стека.

## Создание сервера

Для начала – нужен линуксовый сервер. Есть много различных вариантов, в данном случае используем Hetzner: https://accounts.hetzner.com/login/ (предварительно нужно создать учетную запись).

Далее переходим в консоль: https://console.hetzner.cloud
default project – создаем/переходим в проект
add server – добавляем сервер, заполняем:
1. Location – Nuremberg
2. OS – Ubuntu (20.04)
3. Type – Standard и CPX41
7. SSH key – в новой вкладке открыть панель security (на панели слева иконка ключ) - add ssh key, далее вернуться в предыдущую вкладку и выбрать нужный ключ
8. Name – придумать название
9. Нажимаем create
4. Сервер создан!

Note: как сгенерировать ключ на локальной машине и добавить ключ в ssh agent: https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

## Подключение к серверу
1. Копируем IP адрес сервера (далее – your.ip)
2. Открываем терминал (консоль)
3. Подключаемся: **ssh root@your.ip**
4. Создаем нового пользователя (username – имя): **adduser username**
5. Даем ему возможность выполнять команды как root пользователь: **usermod -aG sudo username**
6. Настраиваем фаерволл
* разрешаем ssh: **ufw allow OpenSSH**
* включаем **ufw enable**
7. Отключиться от root сессии: **exit**

8. Добавить ключ новому пользователю: **ssh-copy-id username@your.ip**

9. Подключаемся с созданным логином: **ssh username@your.ip**

10. Отключить авторизацию по паролю

* редактируем файл: **sudo nano /etc/ssh/sshd_config**
* в файле ищем строчку PasswordAuthentication, заменяем yes на no, убираем значок комментария: **PasswordAuthentication no**
* перезапускаем ssh: **sudo systemctl restart ssh**
11. Обновить систему:

* обновить список известных пакетов и сверить версии (проверить что нового): **sudo apt-get update**
* обновить пакеты: **sudo apt-get upgrade**

## Docker
1. Установить Docker https://docs.docker.com/engine/install/ubuntu/  

sudo apt-get install \

        apt-transport-https \
        
        ca-certificates \
        
        curl \
        
        gnupg-agent \
        
        software-properties-common`

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -

sudo add-apt-repository \

           "deb [arch=amd64] https://download.docker.com/linux/ubuntu \
           
           $(lsb_release -cs) \
           
           stable"
           
Обновляем:

sudo apt-get update

Устанавливаем докер:

sudo apt-get install docker-ce docker-ce-cli containerd.io

2. Установить docker-compose: 

sudo apt-get install docker-compose

3. Установить git:

sudo apt-get install git


4. Установить redash:

git clone https://github.com/rongfengliang/redash-docker-compose

cd redash-docker-compose

nano docker-compose.yaml

#Дописываем в docker-compose.yml в секцию postgres массив volumes, чтобы получилось:

#postgres:

#image: postgres:9.5.6-alpine

#ports:

#- "5432:5432"

#volumes:

#- "./pg-data:/var/lib/postgresql/data"

#При рестарте контейнеров это обеспечит то, что данные в редаше не пропадут.

#Из секции сервер нужно удалить строку REDASH_COOKIE_SECRET. Иначе очередь не сможет выполнить запрос, будет пытаться расшифровать другим ключом.

sudo docker-compose up -d

sudo docker exec redash-docker-compose_server_1 /app/bin/docker-entrypoint create_db

sudo docker exec redash-docker-compose_server_1 /app/manage.py db upgrade head

5. Установить ClickHouse

sudo docker run -d \

    --name clickhouse-server \
    
    --ulimit nofile=262144:262144 \
    
    -p 0.0.0.0:8123:8123 -p 0.0.0.0:9000:9000 \
    
    --restart always \
    
    --network redash-docker-compose_default \
    
    -v "$(pwd)/ch-data:/var/lib/clickhouse" \
    
    yandex/clickhouse-server

Проверить установку – в строке браузера указать:

поднялся ли ClickHouse: IP_сервера:8123

поднялся ли Redash: IP_сервера

## Подключение ClickHouse к Redash
1. Заходим в Redash
2. Справа нажимаем на пользователя → Data Sources
3. New Data Source → ClickHouse
4. Test connection

## Пример создания таблицы

1. Создать подключение к CH в Redash: http://clickhouse-server:8123

2. Создать тестовую таблицу

#CREATE TABLE test (id Int, title String) Engine = MergeTree() ORDER BY id

	curl -d "" -X POST \
    
	  'http://localhost:8123?query=CREATE%20TABLE%20test%20%28id%20Int,%20title%20String%29%20Eng

3. Залить CSV, например файл data.csv со следующим содержанием:

id,title

1,"hello"

2,"its me"

cat data.csv | curl 'http://localhost:8123/?query=INSERT%20INTO%20test%20FORMAT%20CSVWithNames' --data-binary @-

## Дополнительные материалы

[Больше информации о докере](https://habr.com/ru/post/309556/)

[Статья](https://eternalhost.net/blog/razrabotka/chto-takoe-docker) "Что такое Docker, и как его использовать?"

Еще одна [статья](https://proglib.io/p/docker)